.overlay {
  position: fixed;
  z-index: 99;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #aaaaaa;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.content {
  overflow: hidden;
}

.confirmButton {
  padding: 0.3em 1.2em;
  margin: 2% 0.3em 0.3em 0;
  border-radius: 4em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #1b1b1b;
  background-color: #555555;
  text-align: center;
  transition: all 0.2s;
  box-shadow: 0 2px #202027;
  outline: none;
  float: right;
}

.confirmButton:hover {
  background-color: #888888;
}

.confirmButton:active {
  box-shadow: 0 0px #151520;
  transform: translateY(2px);
}

@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }
  .popup {
    width: 70%;
  }
}
