.header {
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #191e25;
  position: fixed;
  top: 0;
  min-width: 500px;
  font-size: 18px;
  border-bottom: 2px solid #505050;
  border-radius: 0.25em;
}

.headeritem {
  display: block;
  color: white;
  text-align: center;
  padding: 13px 20px;
  text-decoration: none;
  float: left;
}

.clock {
  display: block;
  color: white;
  text-align: center;
  padding: 13px 30px;
  text-decoration: none;
  float: right;
}
