.header {
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #191e25;
  position: fixed;
  top: 0;
  min-width: 550px;
  font-size: 18px;
  border-bottom: 2px solid #505050;
  border-radius: 0.25em;
}

.left {
  display: block;
  color: white;
  text-align: center;
  padding: 13px 20px;
  text-decoration: none;
  float: left;
}

.right {
  display: block;
  color: white;
  text-align: center;
  padding: 13px 30px;
  text-decoration: none;
  float: right;
}

.dropdown {
  display: block;
  color: white;
  text-align: center;
  padding: 4px 30px;
  text-decoration: none;
  float: right;
  margin-top: 6px;
}

/* Reset Select */
.langu select {
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  padding: 0.5em 1em;
  background: #1f2227;
}
/* Remove IE arrow */
.langu select::-ms-expand {
  display: none;
}
/* Custom Select */
.langu {
  display: block;
  background: #1f2227;
  border: 1px solid #707070;
  border-radius: 0.25em;
}
.langu select {
  color: #eeeeee;
  cursor: pointer;
  border-radius: 0.25em;
  font-size: 14px !important;
}
