.icon {
    width: 5%;
  }
  
  .name {
    width: 41%;
  }
  
  .category {
    width: 24%;
  }
  
  .location {
    width: 11%;
  }
  
  .level {
    width: 7%;
  }
  
  .action {
    width: 12%;
  }