.wrapper {
  margin: 10% 10% 5% 5%;
}

.table {
  font-size: 18px;
  font-weight: normal;
  width: 100%;
  max-width: 100%;
  min-width: 500px;
  background-color: #2f3237;
  overflow-x: hidden;
  border-collapse: collapse;
  border-spacing: 0;
}

.table td,
.table th {
  text-align: left;
  padding: 20px 8px;
  border: none;
}

.table td {
  font-size: 16px;
}

.table thead th {
  color: #ffffff;
  background: #2f3237;
}

.table tfoot th {
  color: #ffffff;
  background: #3f4247;
  font-weight: lighter;
}

.table tr:nth-child(even) {
  color: #ffffff;
  background: #2f3237;
}

.table tr:nth-child(odd) {
  color: #ffffff;
  background: #3f4247;
}

.icon {
  width: 5%;
}

.name {
  width: 41%;
}

.category {
  width: 24%;
}

.location {
  width: 11%;
}

.level {
  width: 7%;
}

.action {
  width: 12%;
}
