.wrapper {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  overflow-x: hidden;
}

/* Reset Select */
.select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #1f2227;
  background-image: none;
}
/* Remove IE arrow */
.select select::-ms-expand {
  display: none;
}
/* Custom Select */
.select {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  position: relative;
  display: flex;
  background: #1f2227;
  overflow: hidden;
  border: 1px solid #707070;
  border-radius: 0.25em;
}
.select select {
  flex: 1;
  padding: 0.5em 1em;
  color: #eeeeee;
  cursor: pointer;
  font-size: 16px;
}
/* Arrow */
.select::after {
  content: "\25BC";
  font-size: 16px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em 1em;
  background: #212d4d;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}

.select:active::after {
  box-shadow: 0 0px #151515;
  transform: translateY(3px);
}

/* Transition */
.select:hover::after {
  color: #cccccc;
}
