.searchfield {
  display: inline;
  margin-right: 1%;
  color: #e8e8e8;
  font-size: 18px;
  min-width: 300px;
  width: 65%;
  padding: 10px;
  background-color: #1f2227;
  border: 1px solid rgb(121, 121, 121);
  border-radius: 4px;
  margin-top: 8%;
  position: relative;
}

.searchfield:focus {
  outline: none;
}

.searchwrapper {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  overflow-x: hidden;
  display: inline;
}

.tableWrapper {
  margin-top: 6%;
}

.searchfield::placeholder {
  color: #6a6a6a;
}

.searchbutton {
  width: 10%;
  min-width: 80px;
  display: inline;
  font-size: 19px;
  cursor: pointer;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  outline: none;
  color: #999999;
  background-color: #353535;
  border: 1px solid #414141;
  border-radius: 1px;
  box-shadow: 0 3px #303030;
}

/* On mouse-over */
.searchbutton:hover {
  color: #e3e3e3;
}

/* On mouse-left down */
.searchbutton:active {
  box-shadow: 0 0px #151515;
  transform: translateY(4px);
}
